snippet f "function" b
function! ${1:function_name}($2) abort
	${3:" code}
endfunction
endsnippet

snippet a "augroup ... autocmd! autocmd ... block" b
augroup ${1:AU_NAME}
	autocmd!
	autocmd ${2:BufRead,BufNewFile} ${3:*.ext,*.ext3|<buffer[=N]>} ${0}
augroup END
endsnippet
