snippet --- "Hotizontal line" b
`!p snip.rv = "-" * int(vim.eval("&textwidth"))`
endsnippet

snippet план "Шаблон естественного планирования" b
## Цель и принципы

$1

## Видение
## Цели
## Идеи
## Проекты и следующие действия
endsnippet

snippet plan "Natural planning template" b
## Purpose and principles

$1

## Vision
## Goals
## Ideas
## Projects and next actions
endsnippet
